.configPanel{
    border-right: 2px solid white;
    padding: 5px;
    width: 300px;
}


.appName {
    padding: 20px 0;
    font-size: 40px;
    border-bottom: 2px solid pink;
    text-align: center;
    letter-spacing: 4px;
}
