@import "../pitchList.less";

.EditTuner {
	height: 100%;
	width: 100%;
	background-color: #ccc;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.btns {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.modeName {
	text-align: center;
	margin: 10px 0;
	font-size: 18px;
	padding: 5px 0;
	outline: none;
}

.guitarWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.indexPointer {
	flex: 1;

	.triangle {
		width: 0;
		border: 20px solid;
		// transform: translateY(-50%);
		border-color: transparent;
		border-bottom-color: blue;
	}
}

.deleteBtn {
	position: absolute;
	right: 5px;
	bottom: 5px;
}
