.dial {
	height: 100px;
	min-height: 80px;
	width: 100%;
	padding: 0 20px;
}

.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	padding-bottom: 0;
	border-bottom: 2px solid grey;
}

.lowSymbol,
.highSymbol {
	font-size: 20px;
}

.main {
	flex: 1;
	height: 100%;
	position: relative;

	.targetPitch {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-size: 26px;
		text-align: center;
		.frequency {
			font-size: 16px;
		}

		&.accuracy {
			color: green;
		}
	}
	.bg {
		display: flex;
		justify-content: space-evenly;
		height: 100%;
		align-items: flex-end;

		.s {
			width: 2px;
			height: 20px;
			background-color: grey;
		}

		.l {
			width: 2px;
			height: 10px;
			background-color: grey;
		}
	}
}

.dynamic {
	flex: 1;
	min-height: 100px;
	position: relative;
	.pointer {
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: all ease-in 200ms;
		width: fit-content;
		.triangle {
			width: 0;
			height: 0;
			border: 12px solid;
			border-color: transparent;
			border-bottom-color: green;
		}
		// .tail {
		//     width: 100%;
		//     height: 20px;
		//     background-color: yellow;
		// }
	}
}
