@import "pitchList.less";

.tuningWrapper {
	flex: 1;
	height: 100%;
	overflow-x: hidden;
}

.tuningPanel {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mainbox {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	.frequency {
		position: absolute;
		right: 0;
		bottom: 0;
		text-align: center;
		padding: 10px 0;
		width: 100px;
		background-color: white;
	}
}
