@bg-color: skyBlue;

.tuner {
	display: flex;
	height: 1000px;
	width: 1000px;
	max-height: 80vh;
	min-height: 800px;
	max-width: 90vw;
	min-width: 800px;
	background-color: @bg-color;
	border-radius: 10px;
	box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}
